.menu {
background-color : #426C35;
overflow: auto;}
.mune ul {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
text-decoration: none;
}
.mune li {
display: inline-block;
text-align: center;
}
.mune li a{
display: inline-block;
height: auto;
width: 150px;
color: #333333;
background-color: #f5f5f5;
padding: 10px;
margin: 4px;
text-align: center;
font-size: 18px;
font-weight: bold;
text-decoration: none;
border-radius: 4px;
}
.mune li a:hover {
background-color: #d6d599;
}
h1 {
color:green;
font-size:60px%;
font-family:Tahoma,sans-serif;
text-decoration:overlin; }
h2 {
color:#ee82ee;
font-size:120%;
font-family:Arial,sans-serif;
text-decoration:line-through; }
p {
color: rgb(0,75,250);
font-family:verdana,Times,sans-serif;
text-decoration:under line; }
.main {
overflow:auto;
text-align:center;
background:color:#f5f5f5;
padding-top:20px;
padding-bottom:20px;
h1 {
color:#426C35;
font-weight:bold;
font-size:36px;
}
.main h2 {
overflow:auto;
margin-top:40px;
margin-left:auto;
margin-right:auto;
width: 200px;
padding:10px;
background-color:#d6d599;
color:#426C35;
font-weight:bold;
text-align:center;
border-radius:30px;
}
.footer ul {
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
text-decoration: none;}
.footer li {
display: inline-block;
text-align: center;
}
.footer li a{
display: inline-block;
height: auto;
width: auto;
color: #333333;
background-color: #f5f5f5;
padding: 10px;
margin: 4px;
text-align: center;
font-size: 16px;
font-weight: bold;
text-decoration: none;
}
.footer li a:hover {
background-color: #d6d599;
}
.footer h2{
color: #d6d599;
}
.footer p {
color: #f5f5f5;
}
.footer {
overflow: auto;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
background-color: #777777;
}
